@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: #383838;
$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: $secondary-color;
  border-radius: 10px;
  box-shadow: $box-shadow;
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  width: 800px;
  height: fit-content;
}

h3 {
  margin: 0;
  opacity: 0.5;
  letter-spacing: 2px;
}

img {
  width: 100px;
  margin-bottom: 20px;
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
  position: relative;
}

.btn {
  background-color: $primary-color;
  color: $secondary-color;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline: 0;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 40px; /* Adjust based on button height */
  left: 0;
  background-color: rgb(155, 39, 39);
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}

.list-none {
  list-style-type: none;
}

.dropdown-menu-selected {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 20px;
  font-size: medium;
  width: 200px;
}

.dropdown-menu-selected > *:not(hr) {
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: rgb(62, 106, 147);
  }
}

.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  max-height: 0; /* Initially collapsed */
  overflow: hidden; /* Hide overflow content */
  transition: max-height 0.3s ease-out; /* Smooth transition */
}

.dropdown-container.show {
  max-height: 500px; /* Set a large max-height value */
}

.hide {
  display: none;
}

// CAROUSEL

.carousel-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;

  .carousel-frame {
    height: 24rem;
    display: flex; /* Optional for layout */
    width: 24rem;
    background-color: rgba(0, 0, 0, 0.088);
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;

    .carousel-img-container {
      height: 100%;
      width: 100%; /* Optional for ensuring container spans full width */

      img {
        min-width: 100%;
        min-height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
        opacity: 1;
      }
    }
  }
}

.fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}

.fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

.active {
  transform: translateX(0);
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure buttons are on top */
}

.carousel-button:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.carousel-button.left {
  left: 10px; /* Position for the left button */
}

.carousel-button.left:before {
  transform: rotate(135deg); /* Flip arrow direction */
}

.carousel-button.right {
  right: 10px; /* Position for the right button */
}

.carousel-button.right:before {
  transform: rotate(-45deg); /* Arrow pointing right */
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
